google-generativeai
python-dotenv
faiss-cpu
langchain_google_genai
streamlit
langchain
transformers
gtts
torch
streamlit_option_menu
PyPDF2
sentence_splitter
fpdf
python-docx
Pillow
pywin32
matplotlib
streamlit_markmap
youtube_transcript_api
streamlit_player